.rectangleBtn {
    padding: 12px 48px;
}

.listBorder-bottom {
    border-bottom: #E5E5E5 1px solid;
}

.list-card-shadow {
    box-shadow: 0px 0px 15px 0px #00000026;
}

.isDone {
    text-decoration: line-through;
    color: $secondary;
}

label {
    cursor: pointer;
}

.btn>.bi::before {
    vertical-align: 0;
}